@import "@/assets/scss/style.scss";

.about {
  &__swiper {
    @include flex-box(center);
    height: 90vh;

    > div {
      flex: 0 0 50%;
      height: 100%;
      position: relative;
    }
    &-l {
      @include flex-column(space-between, flex-start);
      padding: 80px 24px 32px;
      background-color: $base;
      box-sizing: border-box;
    }

    &_box {
      h2 {
        margin-top: 20px;
      }
    }

    &_img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_nav {
      @include flex-column(center);
      @include position-center;

      gap: 8px;
      position: absolute;
      z-index: 10;

      &-next,
      &-prev {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $base;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

        i {
          display: block;
          width: 100%;
          height: 100%;
          background-size: 24px auto;
        }
      }
    }
  }
}
