@import "@/assets/scss/style.scss";

.sheet {
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.2s ease;
  &__wrap {
    @include position-centerX;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 98vh;
    border-radius: 20px 20px 0 0;
    background-color: $primary;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;
    animation: slideUp 0.8s 1 ease-in-out forwards;
  }

  &__header {
    @include flex-box(space-around, center);
    width: 100%;
    height: 60px;
    background-color: $point;
    color: $base;
  }

  &__content {
    @include flex-box;
    gap: 2vw;
    padding: 4vh 2vw;
    box-sizing: border-box;
  }
  &__box {
    position: relative;
    width: 100%;
    height: 81vh;
    border-radius: 20px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-txt {
      padding: 0 40px;
      box-sizing: border-box;
    }

    h5,
    h6,
    p {
      color: $point;
    }
    p {
      position: absolute;
      bottom: 0;
    }
    h6 {
      margin-bottom: 20px;
    }
  }
}
