@import "@/assets/scss/style.scss";
.contact {
  width: 100%;
  min-height: 100vh;
  padding-top: 20vh;
  background-color: $primary;

  &__title {
    color: $point;
    text-align: center;

    i {
      position: absolute;
      left: 50%;
      top: -10px;
      z-index: 1;
    }
  }

  &__bg {
    width: 100vw;

    svg {
      display: block;
      width: 100vw;
      height: 100vw;
    }
  }

  &__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $point icon-img("ball_yellow", "%23fff") no-repeat center / auto
      24px;
    color: #ffe817;
  }

  &__form_wrap {
    padding: 4vh 0 12vh;
    h4 {
      margin-bottom: 4vh;
      color: $point;
      text-align: center;
    }
  }
  &__form {
    width: 640px;
    margin: 0 auto;
  }
  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: 20px 28px;
    margin-bottom: 16px;
    border: 1px solid $point;
    border-radius: 50px;
    background: $base;
    font-size: 24px;
    color: $point;
    box-sizing: border-box;

    &::placeholder {
      color: $point;
      letter-spacing: -0.08em;
    }
  }

  &__textarea {
    height: 240px;
  }

  &__btn {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    background-color: $point;
    font-size: 24px;
    color: $base;
    text-align: center;
  }
}
