@import "@/assets/scss/style.scss";

.footer {
  position: relative;
  width: 100%;
  padding: 24px 60px;
  border-top: 1px solid $point;
  background-color: $primary;
  font-size: 14px;
  color: $point;
  box-sizing: border-box;

  &__top {
    @include flex-box(space-between, center);
    flex: 0 0 50%;
  }

  &__btm {
    @include flex-box(space-between, center);
    border-top: 1px solid $point;
    padding: 24px 0;
    box-sizing: border-box;
  }

  &__l {
    @include flex-box(flex-start, flex-start);
    gap: 2vw;
  }
  &__txt {
    span {
      display: block;
    }
  }
  &__logo {
    width: 100px;
    height: 100px;
  }

  &__r {
    @include flex-box(flex-end, center);
    gap: 4vw;
  }

  &__list {
    padding: 0 16px;
  }
  &__lst {
    width: 200px;
    button {
      position: relative;
      width: 100%;
      padding: 8px 0;
      color: $point;
      text-align: right;
      overflow: hidden;

      // &::before{
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   bottom: 0;
      //   right: 100%;
      //   width: 100%;
      //   height: 1px;
      //   background-color: $point;
      //   transition: right .3s ease;
      //   will-change: right;
      // }
      // &:hover::before{
      //   right: 0;
      // }
    }
  }
  &__desc {
    position: absolute;
    bottom: 136px;
    left: 190px;
  }
}

.pricing ~ .footer {
  background-color: $base;
  .footer__logo {
    background: url("@/assets/imgs/logo/logo_b.png") no-repeat center / auto
    100%;
  }
}
.themePink-theme {
  .footer__logo {
    background: url("@/assets/imgs/logo/logo_r.png") no-repeat center / auto
      100%;
  }
}
.themeBlue-theme {
  .footer__logo {
    background: url("@/assets/imgs/logo/logo_w.png") no-repeat center / auto
    100%;
  }
}

.about ~ .footer {
  background-color: #f9dfe2;
}