@import "@/assets/scss/style.scss";

.header {
  @include flex-box(space-between);
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 60px;
  padding: 10px 16px;
  z-index: 100;
  box-sizing: border-box;
  transform: translateX(-50%);

  &__left {
    width: 200px;
    height: 40px;
  }
  &__logo {
    display: block;
    width: 200px;
    height: 40px;
    cursor: pointer;
  }

  &__center {
  }

  &__nav_wrap {
    @include flex-box(center);
    gap: 16px;

    button {
      position: relative;
      padding: 4px;
      font-size: 16px;
      font-weight: 700;
      color: $point;
      box-sizing: border-box;
      overflow: hidden;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: -200%;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: $point;
        transition: left 0.4s ease;
        will-change: left;
      }
      &:hover::before {
        left: 0;
      }
    }

    &.on {
      @include flex-column(flex-start, center);
      button {
        margin-bottom: 12px;
        font-size: 24px;

        &:hover::before,
        &:hover::after {
          position: absolute;
          width: 24px;
          height: 24px;
          background: icon-img("ball_yellow", "%23fff") no-repeat center / auto
            100%;
          transform: translate(-50%, -50%);
        }
        &:hover::before {
          top: 0;
          left: 0;
        }
        &:hover::after {
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  &__right {
  }

  &__btn-book {
    height: 60px;
    padding: 20px 16px 0;
    border-radius: 0 0 8px 8px;
    background-color: $point;
    font-size: 16px;
    font-weight: 700;
    color: $primary;
    transition: all 0.4s ease;
    box-sizing: border-box;
    text-align: center;

    &:hover {
      height: 75px;
      padding: 35px 16px 0;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      left: 0;
      top: -200%;
      border-radius: 0 0 10px 10px;
      background-color: $point;
      transition: top 0.2s ease;
      will-change: top;
    }

    &:hover::before {
      top: 0;
    }
  }
}

.header__nav_ico {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 36px;
    background-color: $point;
    border-radius: 9px;
    opacity: 1;

    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    transform-origin: left center;
    left: 0;

    &:nth-child(1) {
      top: 6px;
    }
    &:nth-child(2) {
      top: 18px;
    }
    &:nth-child(3) {
      top: 30px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 5px;
        left: 8px;
      }
      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 30px;
        left: 8px;
      }
    }
  }
}
