// global 요소
.g_dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  cursor: pointer;
}

.g_modal {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 80%;
  height: 75vh;
  border-radius: 16px;
  background: #fff;
  transform: translateX(-50%);
  z-index: 2;
}

// 스와이프요소
.g_swiper {
  display: flex;

  &__slide {
    flex: 0 0 auto;
  }
}

// 버튼
.btn-cls {
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  i {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.ico_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;

  i {
    display: block;
    width: 40px;
    height: 40px;
  }
}