@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css");

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.txt_headline1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.txt_headline2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.txt_headline3 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.txt_headline4 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.txt_headline5 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.txt_headline6 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.txt_subtitle1 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.txt_subtitle2 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.txt_body1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.txt_body2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.txt_btn_large {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.txt_btn_small {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.txt_caption {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.txt_overline {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.05em;
}
