@function icon-img($icon-name, $icon-color) {
  $icon-list: (
    arrow:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' fill='none'%3E%3Cpath fill='#{$icon-color}' d='M205.66 117.66a7.99 7.99 0 0 1-5.66 2.346 7.992 7.992 0 0 1-5.66-2.346L136 59.31V216a7.997 7.997 0 0 1-8 8 8 8 0 0 1-8-8V59.31l-58.34 58.35a8.005 8.005 0 0 1-11.32-11.32l72-72a8 8 0 0 1 11.32 0l72 72a8 8 0 0 1 0 11.32Z'/%3E%3C/svg%3E",
    bone:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='#{$icon-color}' d='M42.048 36.433a7.013 7.013 0 0 1-7.318-5.44.027.027 0 0 0-.014-.014l-19.433.002-.011.01a7.032 7.032 0 1 1-12.332-6 7.032 7.032 0 1 1 12.332-6 .027.027 0 0 0 .014.013l19.433-.001.01-.011a7.032 7.032 0 1 1 12.332 6 7.032 7.032 0 0 1-5.013 11.441Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h50v50H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E",
    chevron-left:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none'%3E%3Cpath stroke='#{$icon-color}' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='m16.021 20.348-7.71-7.71 7.71-7.71'/%3E%3C/svg%3E",
    cat:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='27' fill='none'%3E%3Cpath fill='#{$icon-color}' d='M32.129 0a14.12 14.12 0 0 0-2.364.18c-.223.036-.43.109-.603.213a1.076 1.076 0 0 0-.39.385.717.717 0 0 0-.09.47c.026.158.107.31.235.443.003.003.007.006.007.01.328.35.926.52 1.51.43a9.297 9.297 0 0 1 1.595-.13c4.045 0 7.32 2.38 7.107 5.25-.089 1.199-.789 2.335-1.972 3.2l.057.076c-.865-.787-1.975-1.424-3.246-1.861A12.578 12.578 0 0 0 29.893 8c-1.396 0-2.792.22-4.045.65l-6.794 2.32c-.584.2-4.433.9-4.433.45v-2.33c0-1.25-.67-2.39-1.766-3.26l-4.708-4.51c-.356-.28-1.026-.11-1.026.27v2.71c-2.663.43-4.757 2.32-5.298 4.27-.071.25-.385.43-.74.43-.288 0-.563.08-.766.223C.114 9.366 0 9.56 0 9.76v.22c0 2.22 2.564 4.02 5.726 4.02v1.59c0 1.095.58 2.151 1.627 2.963 1.048.811 2.488 1.32 4.041 1.427v6.649c0 .2.242.37.541.37h3.205c.299 0 .541-.17.541-.38v-5.879l1.994 5.879c.085.22.37.38.698.38h3.034c.341 0 .598-.23.512-.45L19.702 20h5.717L23.2 26.55c-.085.22.171.45.513.45h3.034c.327 0 .612-.16.697-.38l1.667-4.91 1.353.95c.299.21.384.52.213.79l-1.851 3.03c-.171.24.085.52.47.52h3.105c.213 0 .413-.09.484-.23l3.59-5.89c.37-.58 1.614-1.84 1.614-1.84l1.06-4.54c0-.783-.197-1.534-.56-2.23 1.09-.668 1.959-1.494 2.547-2.421.589-.927.883-1.934.862-2.949-.071-3.78-4.486-6.86-9.87-6.9ZM5.43 8.748c0-.359.413-.637.907-.637.511 0 .907.29.907.637v.95c-.002.169-.098.33-.268.45-.17.118-.399.186-.64.187-.118 0-.236-.016-.347-.048a.994.994 0 0 1-.294-.138.674.674 0 0 1-.197-.207.475.475 0 0 1-.068-.244v-.95Z'/%3E%3C/svg%3E",
    dog:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='50' fill='none'%3E%3Cpath fill='#{$icon-color}' fill-rule='evenodd' d='M55.142 18.831c1.508-.66 2.652-1.777 3.725-2.9 1.223-1.278 1.239-2.881 1.239-3.72 0-1.335-1.253-2.386-3.29-2.435-1.08-.026-1.738.242-2.637.898-.644.468-2.153 2-1.48 3.253.035.065.092.143.173.237a.52.52 0 0 1 .008.668.47.47 0 0 1-.651.072l-.106-.082c-1.33-1.015-2.054-1.393-2.054-2.898 0-2.832 3.737-5.553 7.346-5.466 3.605.087 6.412 2.69 6.412 5.724 0 1.66-1.058 4.016-2.788 5.825a11.506 11.506 0 0 1-3.921 2.684c.094.155.19.323.29.504.98 1.785.852 2.003.977 4.233.124 2.232-.536 6.223-.283 8.189.254 1.965 1.523 2.184 1.802 3.6.177.897.616 4.79 1.317 11.68.014.139 0 .28-.044.413-.044.133-3.115.256-3.209.36a1.003 1.003 0 0 1-.743.33h-2.057a.998.998 0 0 1-.706-.292c-.187-.187 2.708-.44 2.708-.706v-.497c0-.315.148-.611.4-.8l.318-.238a1 1 0 0 0 .383-.986c-.547-2.913-1.028-4.666-1.442-5.26-.306-.44-1.688-1.156-3.47-2.546-.32-.25-.893-.78-1.72-1.592a.5.5 0 0 0-.848.296c-.15 1.203-.338 2.217-.561 3.041-.27.994-1.1 3.587-2.49 7.777a1 1 0 0 1-.95.686h-2.617a.895.895 0 0 1-.894-.894v-.06a1 1 0 0 1 .82-.985l1.124-.206c.806-2.944 1.157-5.1 1.055-6.468-.072-.969-.726-2.095-1.385-4.055-.137-.408-.33-1.24-.578-2.5a.5.5 0 0 0-.617-.387l-21.663 1.726a.501.501 0 0 0-.316.72l.157.297c.3.562.456 1.19.456 1.827v9.36c0 .31-.145.604-.392.794l-1.397 1.07a1 1 0 0 1-.61.208H18.93a1 1 0 0 1-1-1.002v-.51c0-.362.195-.697.512-.874l.72-.403a1 1 0 0 0 .51-.957c-.114-1.352-.254-2.38-.422-3.084-.172-.725-.59-2.022-1.253-3.886a.499.499 0 0 0-.8-.21l-.194.168c-.49.423-1.086.7-1.724.803l-6.252 1a.5.5 0 0 0-.291.83l.665.733c.168.183.26.423.26.672v.654a1 1 0 0 1-1.03 1l-.82-.024a1.001 1.001 0 0 1-.767-.394L6.01 42.493a1 1 0 0 1-.205-.608v-1.987c0-.348.18-.67.475-.853 4.27-2.64 6.587-4.099 6.948-4.38.374-.29.53-.774.468-1.453-.696-2.068-1.811-2.8-2.312-4.024-.5-1.223-1.43-5.03-1.89-6.491-.925-2.94-1.737-4.495-1.956-4.96-.492-1.044-1.36-1.192-2.277-1.552-.917-.361-2.66-.306-3.794-1.301-1.133-.997-1.03-2.037-1.293-3.168V10.33c0-.553.449-1.001 1.002-1.001h2.716c.367 0 .704-.2.88-.523.31-.57.805-1.113 1.486-1.631a8.629 8.629 0 0 1 3.039-1.47c-.25-3.113-.25-4.872 0-5.276.25-.404.945.228 2.087 1.896.163-1.964.48-2.684.955-2.16.442.49 1.205 2.27 2.288 5.34.142.4.347.778.607 1.115.455.588.865 1.292 1.232 2.11.697 1.556 1.51 5.62 2.952 7.618 1.44 2 17.28 2.163 19.36 2.534 1.383.245 6.148-.54 10.05-.692 3.007-.118 5.425.387 5.86.5.158.04.308.087.454.14Z' clip-rule='evenodd'/%3E%3C/svg%3E",

    ball_yellow:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='110' fill='none'%3E%3Crect width='103.911' height='103.911' x='2.484' y='6.088' fill='%23FFF500' rx='50'/%3E%3Cpath stroke='%23D1C91D' stroke-linecap='round' stroke-width='3' d='M11.836 23.753S20 49.441 47.414 66.955c29.877 19.088 54.825 18.097 54.825 18.097'/%3E%3Cpath stroke='%23D1C91D' stroke-linecap='round' stroke-width='3' d='M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.644-11.949c18.551-15.807 5.235-65.464 5.235-65.464'/%3E%3C/svg%3E",
    ball_white:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='110' fill='none'%3E%3Crect width='103.911' height='103.911' x='2.484' y='6.088' fill='%23F3F3E9' rx='50'/%3E%3Cpath stroke='%23FCFCF7' stroke-linecap='round' stroke-width='3' d='M11.836 23.753S20 49.441 47.414 66.955c29.877 19.088 54.825 18.097 54.825 18.097'/%3E%3Cpath stroke='%23FCFCF7' stroke-linecap='round' stroke-width='3' d='M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.644-11.949c18.551-15.807 5.235-65.464 5.235-65.464'/%3E%3C/svg%3E",
    ball_pink:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='110' fill='none'%3E%3Crect width='103.911' height='103.911' x='2.484' y='6.088' fill='%23F4CED3' rx='50'/%3E%3Cpath stroke='%23F3F3E9' stroke-linecap='round' stroke-width='3' d='M11.836 23.753S20 49.441 47.414 66.954c29.877 19.089 54.825 18.098 54.825 18.098'/%3E%3Cpath stroke='%23F3F3E9' stroke-linecap='round' stroke-width='3' d='M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.643-11.949c18.552-15.807 5.235-65.464 5.235-65.464'/%3E%3C/svg%3E",
  );
  $icon: map-get($icon-list, $icon-name);
  @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}

// ball_yellow: <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="none"><rect width="103.911" height="103.911" x="2.484" y="6.088" fill="#FFF500" rx="50"/><path stroke="#D1C91D" stroke-linecap="round" stroke-width="3" d="M11.836 23.753S20 49.441 47.414 66.955c29.877 19.088 54.825 18.097 54.825 18.097"/><path stroke="#D1C91D" stroke-linecap="round" stroke-width="3" d="M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.644-11.949c18.551-15.807 5.235-65.464 5.235-65.464"/></svg>m
// ball_white: <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="none"><rect width="103.911" height="103.911" x="2.484" y="6.088" fill="#F3F3E9" rx="50"/><path stroke="#FCFCF7" stroke-linecap="round" stroke-width="3" d="M11.836 23.753S20 49.441 47.414 66.955c29.877 19.088 54.825 18.097 54.825 18.097"/><path stroke="#FCFCF7" stroke-linecap="round" stroke-width="3" d="M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.644-11.949c18.551-15.807 5.235-65.464 5.235-65.464"/></svg>
// ball_pink: <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="none"><rect width="103.911" height="103.911" x="2.484" y="6.088" fill="#F4CED3" rx="50"/><path stroke="#F3F3E9" stroke-linecap="round" stroke-width="3" d="M11.836 23.753S20 49.441 47.414 66.954c29.877 19.089 54.825 18.098 54.825 18.098"/><path stroke="#F3F3E9" stroke-linecap="round" stroke-width="3" d="M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.643-11.949c18.552-15.807 5.235-65.464 5.235-65.464"/></svg>

@mixin set-icon($icon-name, $icon-size, $icon-color, $disp: block) {
  display: $disp;
  width: $icon-size;
  height: $icon-size;
  background: icon-img($icon-name, $icon-color) no-repeat center / 100% auto;
}

@mixin ico-chevron(
  $icon-color,
  $direction: left,
  $icon-width: 2,
  $linecap: "round"
) {
  $transform: rotate(0deg);

  @if $direction == "up" {
    $transform: rotate(90deg);
  }
  @if $direction == "down" {
    $transform: rotate(-90deg);
  }
  @if $direction == "right" {
    $transform: scaleX(-1);
  }

  background: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none'%3E%3Cpath stroke='#{$icon-color}' stroke-linecap='#{$linecap}' stroke-linejoin='#{$linecap}' stroke-miterlimit='10' stroke-width='#{$icon-width}' d='m16.021 20.348-7.71-7.71 7.71-7.71'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: 20px auto;
  transform: $transform;
}

// SVG 용 컬러 변수

$svg-pink-base: "%23F3F3E9";
$svg-pink-primary: "%23F4CED3";
$svg-pink-secondary: "%23F0B5BE";
$svg-pink-tertiary: "%23eee";
$svg-pink-point: "%23E33529";

$svg-brown-base: "%23F3F3F3";
$svg-brown-primary: "%23693413";
$svg-brown-secondary: "%23F7E7DA";
$svg-brown-tertiary: "%23eee";
$svg-brown-point: "%23693413";

$svg-blue-base: "%23F6F6ED";
$svg-blue-primary: "%23BDDEF8";
$svg-blue-secondary: "%23AFD8FB";
$svg-blue-tertiary: "%235B93B0";
$svg-blue-point: "%232B6786";

.ico-chevron {
  background: icon-img("chevron", $svg-pink-point) no-repeat center / auto 100%;
}

.themePink-theme {
  .header__logo {
    background: icon-img("dog", $svg-pink-point) no-repeat left center / auto
      70%;
  }

  .ico__arrow-down {
    background: icon-img("arrow", $svg-pink-point) no-repeat center / auto 100%;
    transform: scaleY(-1);
  }
  .ico__arrow-left {
    background: icon-img("chevron-left", $svg-pink-point) no-repeat center / auto 100%;
  }
  .ico__arrow-right {
    background: icon-img("chevron-left", $svg-pink-point) no-repeat center / auto 100%;
    transform: scaleX(-1);
  }
  .ico__bone {
    background: icon-img("bone", $svg-pink-base);
  }
}

.themeBlue-theme {
  .header__logo {
    background: icon-img("dog", $svg-blue-point) no-repeat left center / auto
      70%;
  }

  .ico__arrow-down {
    background: icon-img("arrow", $svg-blue-point) no-repeat center / auto 100%;
    transform: scaleY(-1);
  }

  .ico__arrow-left {
    background: icon-img("chevron-left", $svg-blue-point) no-repeat center / auto 100%;
  }
  .ico__arrow-right {
    background: icon-img("chevron-left", $svg-blue-point) no-repeat center / auto 100%;
    transform: scaleX(-1);
  }

  .ico__bone {
    background: icon-img("bone", $svg-blue-base) no-repeat center / auto 100%;
  }
}
