@function icon-img($icon-name, $icon-color) {
  $icon-list: (
    arrow:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' fill='none'%3E%3Cpath fill='#{$icon-color}' d='M205.66 117.66a7.99 7.99 0 0 1-5.66 2.346 7.992 7.992 0 0 1-5.66-2.346L136 59.31V216a7.997 7.997 0 0 1-8 8 8 8 0 0 1-8-8V59.31l-58.34 58.35a8.005 8.005 0 0 1-11.32-11.32l72-72a8 8 0 0 1 11.32 0l72 72a8 8 0 0 1 0 11.32Z'/%3E%3C/svg%3E",
    bone:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='#{$icon-color}' d='M42.048 36.433a7.013 7.013 0 0 1-7.318-5.44.027.027 0 0 0-.014-.014l-19.433.002-.011.01a7.032 7.032 0 1 1-12.332-6 7.032 7.032 0 1 1 12.332-6 .027.027 0 0 0 .014.013l19.433-.001.01-.011a7.032 7.032 0 1 1 12.332 6 7.032 7.032 0 0 1-5.013 11.441Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h50v50H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E",
    chevron-left:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none'%3E%3Cpath stroke='#{$icon-color}' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='m16.021 20.348-7.71-7.71 7.71-7.71'/%3E%3C/svg%3E",
    cat:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='27' fill='none'%3E%3Cpath fill='#{$icon-color}' d='M32.129 0a14.12 14.12 0 0 0-2.364.18c-.223.036-.43.109-.603.213a1.076 1.076 0 0 0-.39.385.717.717 0 0 0-.09.47c.026.158.107.31.235.443.003.003.007.006.007.01.328.35.926.52 1.51.43a9.297 9.297 0 0 1 1.595-.13c4.045 0 7.32 2.38 7.107 5.25-.089 1.199-.789 2.335-1.972 3.2l.057.076c-.865-.787-1.975-1.424-3.246-1.861A12.578 12.578 0 0 0 29.893 8c-1.396 0-2.792.22-4.045.65l-6.794 2.32c-.584.2-4.433.9-4.433.45v-2.33c0-1.25-.67-2.39-1.766-3.26l-4.708-4.51c-.356-.28-1.026-.11-1.026.27v2.71c-2.663.43-4.757 2.32-5.298 4.27-.071.25-.385.43-.74.43-.288 0-.563.08-.766.223C.114 9.366 0 9.56 0 9.76v.22c0 2.22 2.564 4.02 5.726 4.02v1.59c0 1.095.58 2.151 1.627 2.963 1.048.811 2.488 1.32 4.041 1.427v6.649c0 .2.242.37.541.37h3.205c.299 0 .541-.17.541-.38v-5.879l1.994 5.879c.085.22.37.38.698.38h3.034c.341 0 .598-.23.512-.45L19.702 20h5.717L23.2 26.55c-.085.22.171.45.513.45h3.034c.327 0 .612-.16.697-.38l1.667-4.91 1.353.95c.299.21.384.52.213.79l-1.851 3.03c-.171.24.085.52.47.52h3.105c.213 0 .413-.09.484-.23l3.59-5.89c.37-.58 1.614-1.84 1.614-1.84l1.06-4.54c0-.783-.197-1.534-.56-2.23 1.09-.668 1.959-1.494 2.547-2.421.589-.927.883-1.934.862-2.949-.071-3.78-4.486-6.86-9.87-6.9ZM5.43 8.748c0-.359.413-.637.907-.637.511 0 .907.29.907.637v.95c-.002.169-.098.33-.268.45-.17.118-.399.186-.64.187-.118 0-.236-.016-.347-.048a.994.994 0 0 1-.294-.138.674.674 0 0 1-.197-.207.475.475 0 0 1-.068-.244v-.95Z'/%3E%3C/svg%3E",
    dog:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='50' fill='none'%3E%3Cpath fill='#{$icon-color}' fill-rule='evenodd' d='M55.142 18.831c1.508-.66 2.652-1.777 3.725-2.9 1.223-1.278 1.239-2.881 1.239-3.72 0-1.335-1.253-2.386-3.29-2.435-1.08-.026-1.738.242-2.637.898-.644.468-2.153 2-1.48 3.253.035.065.092.143.173.237a.52.52 0 0 1 .008.668.47.47 0 0 1-.651.072l-.106-.082c-1.33-1.015-2.054-1.393-2.054-2.898 0-2.832 3.737-5.553 7.346-5.466 3.605.087 6.412 2.69 6.412 5.724 0 1.66-1.058 4.016-2.788 5.825a11.506 11.506 0 0 1-3.921 2.684c.094.155.19.323.29.504.98 1.785.852 2.003.977 4.233.124 2.232-.536 6.223-.283 8.189.254 1.965 1.523 2.184 1.802 3.6.177.897.616 4.79 1.317 11.68.014.139 0 .28-.044.413-.044.133-3.115.256-3.209.36a1.003 1.003 0 0 1-.743.33h-2.057a.998.998 0 0 1-.706-.292c-.187-.187 2.708-.44 2.708-.706v-.497c0-.315.148-.611.4-.8l.318-.238a1 1 0 0 0 .383-.986c-.547-2.913-1.028-4.666-1.442-5.26-.306-.44-1.688-1.156-3.47-2.546-.32-.25-.893-.78-1.72-1.592a.5.5 0 0 0-.848.296c-.15 1.203-.338 2.217-.561 3.041-.27.994-1.1 3.587-2.49 7.777a1 1 0 0 1-.95.686h-2.617a.895.895 0 0 1-.894-.894v-.06a1 1 0 0 1 .82-.985l1.124-.206c.806-2.944 1.157-5.1 1.055-6.468-.072-.969-.726-2.095-1.385-4.055-.137-.408-.33-1.24-.578-2.5a.5.5 0 0 0-.617-.387l-21.663 1.726a.501.501 0 0 0-.316.72l.157.297c.3.562.456 1.19.456 1.827v9.36c0 .31-.145.604-.392.794l-1.397 1.07a1 1 0 0 1-.61.208H18.93a1 1 0 0 1-1-1.002v-.51c0-.362.195-.697.512-.874l.72-.403a1 1 0 0 0 .51-.957c-.114-1.352-.254-2.38-.422-3.084-.172-.725-.59-2.022-1.253-3.886a.499.499 0 0 0-.8-.21l-.194.168c-.49.423-1.086.7-1.724.803l-6.252 1a.5.5 0 0 0-.291.83l.665.733c.168.183.26.423.26.672v.654a1 1 0 0 1-1.03 1l-.82-.024a1.001 1.001 0 0 1-.767-.394L6.01 42.493a1 1 0 0 1-.205-.608v-1.987c0-.348.18-.67.475-.853 4.27-2.64 6.587-4.099 6.948-4.38.374-.29.53-.774.468-1.453-.696-2.068-1.811-2.8-2.312-4.024-.5-1.223-1.43-5.03-1.89-6.491-.925-2.94-1.737-4.495-1.956-4.96-.492-1.044-1.36-1.192-2.277-1.552-.917-.361-2.66-.306-3.794-1.301-1.133-.997-1.03-2.037-1.293-3.168V10.33c0-.553.449-1.001 1.002-1.001h2.716c.367 0 .704-.2.88-.523.31-.57.805-1.113 1.486-1.631a8.629 8.629 0 0 1 3.039-1.47c-.25-3.113-.25-4.872 0-5.276.25-.404.945.228 2.087 1.896.163-1.964.48-2.684.955-2.16.442.49 1.205 2.27 2.288 5.34.142.4.347.778.607 1.115.455.588.865 1.292 1.232 2.11.697 1.556 1.51 5.62 2.952 7.618 1.44 2 17.28 2.163 19.36 2.534 1.383.245 6.148-.54 10.05-.692 3.007-.118 5.425.387 5.86.5.158.04.308.087.454.14Z' clip-rule='evenodd'/%3E%3C/svg%3E",

    ball_yellow:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='110' fill='none'%3E%3Crect width='103.911' height='103.911' x='2.484' y='6.088' fill='%23ffe817' rx='50'/%3E%3Cpath stroke='%23b6a71c' stroke-linecap='round' stroke-width='3' d='M11.836 23.753S20 49.441 47.414 66.955c29.877 19.088 54.825 18.097 54.825 18.097'/%3E%3Cpath stroke='%23b6a71c' stroke-linecap='round' stroke-width='3' d='M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.644-11.949c18.551-15.807 5.235-65.464 5.235-65.464'/%3E%3C/svg%3E",
    ball_white:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='110' fill='none'%3E%3Crect width='103.911' height='103.911' x='2.484' y='6.088' fill='%23F3F3E9' rx='50'/%3E%3Cpath stroke='%23FCFCF7' stroke-linecap='round' stroke-width='3' d='M11.836 23.753S20 49.441 47.414 66.955c29.877 19.088 54.825 18.097 54.825 18.097'/%3E%3Cpath stroke='%23FCFCF7' stroke-linecap='round' stroke-width='3' d='M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.644-11.949c18.551-15.807 5.235-65.464 5.235-65.464'/%3E%3C/svg%3E",
    ball_pink:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='110' fill='none'%3E%3Crect width='103.911' height='103.911' x='2.484' y='6.088' fill='%23F4CED3' rx='50'/%3E%3Cpath stroke='%23F3F3E9' stroke-linecap='round' stroke-width='3' d='M11.836 23.753S20 49.441 47.414 66.954c29.877 19.089 54.825 18.098 54.825 18.098'/%3E%3Cpath stroke='%23F3F3E9' stroke-linecap='round' stroke-width='3' d='M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.643-11.949c18.552-15.807 5.235-65.464 5.235-65.464'/%3E%3C/svg%3E",
    walk:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none'%3E%3Cpath fill='#{$icon-color}' d='M23.893 3c-1.142 0-2.13.72-2.91 1.757-.78 1.037-1.423 2.444-1.967 4.15-1.088 3.413-1.741 8.032-1.741 13.133.127 4.765.408 8.892 1.74 13.137.545 1.704 1.188 3.107 1.968 4.145.59.784 1.296 1.385 2.094 1.631v3.407H16.64V46h14.506v-1.64h-6.437v-3.407c.798-.246 1.505-.847 2.094-1.63.78-1.04 1.424-2.442 1.967-4.146.381-1.202.708-2.55.98-4.017 1.532-.61 2.91-1.367 2.91-1.367 1.913.255 4.379.701 4.995 1.75.354.619-.154 1.648.3 2.022 1.187.974 2.139.1 2.338-.556.2-1.22.245-2.341-.181-3.334-.2-.456-3.182-2.178-5.313-2.834 2.475.42 6.428.82 6.564 1.358.236.892-.063 2.159.69 2.323 1.713.373 1.966.055 2.093-1.367.082-.856.136-1.621-.426-2.332-.598-.756-5.167-1.968-7.062-2.332 2.257-1.485 2.493-1.777 3.29-2.596 3.02-.41 3.963-1.668 4.516-3.617.979-.538.407-1.795-.064-1.822-1.405-.064-3.336.09-4.65-.456-.49-.674-1.352-1.12-2.303-1.53-.3-.693.471-2.323-.118-2.97-.88.355-1.986 2.123-2.385 2.815-.163-.893-.78-1.695-1.26-2.414-2.112 2.587-1.958 4.382-3.245 7.251-.2-3.944-.79-7.488-1.669-10.245-.543-1.706-1.187-3.113-1.967-4.15C26.023 3.721 25.035 3 23.893 3Zm0 1.64c.453 0 .997.299 1.605 1.107.607.807 1.215 2.069 1.722 3.66.907 2.84 1.514 6.73 1.632 11.066-3.699 1.686-5.503 2.26-8.495 3.234.118 3.982.318 5.175 1.197 8.236 1.931.355 4.415.3 6.419-.2a28.607 28.607 0 0 1-.753 2.933c-.507 1.585-1.115 2.852-1.722 3.662-.608.802-1.152 1.103-1.605 1.103-.453 0-.997-.301-1.605-1.103-.607-.81-1.214-2.077-1.722-3.662-1.179-4.746-1.65-8.172-1.66-12.636 0-4.965.645-9.456 1.66-12.634.508-1.59 1.115-2.852 1.722-3.66.608-.807 1.152-1.106 1.605-1.106Zm13.563 11.069c.317-.01.634.382.734.91.109.566-.082 1.076-.417 1.14-.336.063-.689-.347-.798-.912-.1-.564.082-1.065.417-1.13.018-.008.045-.008.064-.008ZM7.045 22.168c.561 2.587.882 5.193 5.217 5.648-.916 2.952-3.853 4.72-7.98 7.26-1.195.739-1.715 2.406-.858 3.299 2.288-.838 5.428-2.815 7.423-4.255-.843 1.02-2.407 2.615-3.215 3.59-1.21 1.44-.717 2.159.117 2.706 2.509-1.804 5.292-4.747 6.897-7.024l2.012-.784c-.797-2.997-.942-5.411-.97-8.044-3.608-.273-6.362-.665-8.643-2.396Z'/%3E%3C/svg%3E",
    night:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none'%3E%3Cpath fill='#{$icon-color}' d='M24.057 8.8 2.4 26.123v3.844L24.057 12.64l21.656 17.327v-3.844L24.057 8.8Zm0 6L6.9 28.523v17.353h8.813c.01-3.028.075-1.453.956-5.344.488-2.128 1.21-4.115 2.381-5.625 1.182-1.518 2.878-2.53 5.007-2.53 2.128 0 3.825 1.012 5.006 2.53 1.172 1.51 1.894 3.497 2.381 5.625.881 3.89.947 2.316.956 5.344h8.813V28.523L24.057 14.8ZM15.422 24.8c.374.01.764.08 1.135.206.413.139.787.34 1.08.582.294.242.494.515.579.787h11.681c.085-.273.286-.545.579-.787a3.417 3.417 0 0 1 1.08-.582c.371-.126.761-.197 1.135-.206.401-.007.768.057 1.062.185.294.129.503.318.607.546.134.294.086.637-.136.972-.222.335-.605.641-1.083.866.414.23.734.522.915.832.18.31.211.623.088.893a1.02 1.02 0 0 1-.39.431c-.18.117-.408.204-.669.253-.26.05-.549.062-.848.036a3.923 3.923 0 0 1-.896-.186 3.314 3.314 0 0 1-1.182-.672c-.304-.28-.484-.593-.515-.893H18.47c-.03.3-.21.613-.515.893-.304.281-.718.516-1.182.672-.292.097-.597.16-.896.186-.3.026-.587.014-.848-.036a1.888 1.888 0 0 1-.67-.253 1.02 1.02 0 0 1-.389-.431c-.123-.27-.092-.583.088-.893.18-.31.501-.602.915-.832-.478-.225-.86-.53-1.083-.866-.222-.335-.27-.678-.135-.972.103-.228.313-.417.606-.546.294-.128.661-.192 1.062-.185Z'/%3E%3Cpath stroke='#{$icon-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.6' d='M33.799 6.556h3.182L33.6 11.328h3.58M40.082 2.4h2.98l-3.166 4.469h3.352m-2.473 3.657h4.334l-4.606 6.503h4.877'/%3E%3C/svg%3E",
    visit:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none'%3E%3Cpath fill='#{$icon-color}' d='M43.5 3.387c.244.248.38.585.38.935 0 .351-.136.687-.38.935L30.125 18.871H26.45L21.902 23.5H9.865a24.52 24.52 0 0 1-.923-4.7c-.481.024-.963.035-1.445.034-1.512 0-3.846-.103-4.548-.625C1.65 16.457 1 12.956 1 12.956s3.621-1.258 5.198-1.826c0-4.264 5.416-6.698 8.168-3.104.683-.004 1.463.22 2.193.675 1.32.826 1.82 4.545 1.534 6.229 2.085 2.5 4.753 3.526 8.246 3.904l.133.014 15.19-15.46a1.288 1.288 0 0 1 1.837 0Zm-13.527 15.64L23.74 25.37v8.881c3.55-.483 6.584-1.232 10.395-3.477 2.778 5.183 5.105 6.673 6.3 7.438.48.308.78.499.847.766.156.608.32 1.054.447 1.402.161.435.265.718.226.975h-.673c-.345 0-.675.14-.919.387-.244.248-.38.585-.38.935 0 .351.136.688.38.936.244.248.574.387.919.387h2.599c.344 0 .675-.14.919-.387.243-.248.38-.585.38-.936v-5.982c0-2.614-3.898-9.587-3.898-9.587l5.847 7.634c.527.335 1.237-.308.65-1.323-.246-.666-.513-1.54-.817-2.528-1.448-4.718-3.7-12.057-8.124-12.057-.64 0-1.562.034-2.646.073-1.802.066-4.055.149-6.219.12ZM21.05 34.57l.09-.009v-8.417H10.858c1.049 2.319 2.304 3.997 3.277 5.298.181.242.351.47.51.688.622.855 2.436 6.355-.267 9.224h-.383c-.345 0-.675.14-.919.387-.243.248-.38.585-.38.935 0 .351.137.688.38.936.244.248.575.387.92.387h3.897c.285 0 .563-.095.79-.272.226-.176.39-.423.464-.703h.003a.042.042 0 0 0 .018-.004c.055-.029.05-.18.04-.518a22.61 22.61 0 0 1-.015-.786v-6.942l1.212-.132.01-.002.636-.07Z'/%3E%3C/svg%3E",
  );
  $icon: map-get($icon-list, $icon-name);
  @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}

// ball_yellow: <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="none"><rect width="103.911" height="103.911" x="2.484" y="6.088" fill="#FFF500" rx="50"/><path stroke="#D1C91D" stroke-linecap="round" stroke-width="3" d="M11.836 23.753S20 49.441 47.414 66.955c29.877 19.088 54.825 18.097 54.825 18.097"/><path stroke="#D1C91D" stroke-linecap="round" stroke-width="3" d="M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.644-11.949c18.551-15.807 5.235-65.464 5.235-65.464"/></svg>m
// ball_white: <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="none"><rect width="103.911" height="103.911" x="2.484" y="6.088" fill="#F3F3E9" rx="50"/><path stroke="#FCFCF7" stroke-linecap="round" stroke-width="3" d="M11.836 23.753S20 49.441 47.414 66.955c29.877 19.088 54.825 18.097 54.825 18.097"/><path stroke="#FCFCF7" stroke-linecap="round" stroke-width="3" d="M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.644-11.949c18.551-15.807 5.235-65.464 5.235-65.464"/></svg>
// ball_pink: <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="none"><rect width="103.911" height="103.911" x="2.484" y="6.088" fill="#F4CED3" rx="50"/><path stroke="#F3F3E9" stroke-linecap="round" stroke-width="3" d="M11.836 23.753S20 49.441 47.414 66.954c29.877 19.089 54.825 18.098 54.825 18.098"/><path stroke="#F3F3E9" stroke-linecap="round" stroke-width="3" d="M107.514 53.192S87.134 52.05 78.088 68.01c-9.858 17.395-7.022 39.389-7.022 39.389M7.68 81.94s27.622 2.555 44.643-11.949c18.552-15.807 5.235-65.464 5.235-65.464"/></svg>

@mixin set-icon($icon-name, $icon-size, $icon-color, $disp: block) {
  display: $disp;
  width: $icon-size;
  height: $icon-size;
  background: icon-img($icon-name, $icon-color) no-repeat center / 100% auto;
}

@mixin ico-chevron(
  $icon-color,
  $direction: left,
  $icon-width: 2,
  $linecap: "round"
) {
  $transform: rotate(0deg);

  @if $direction == "up" {
    $transform: rotate(90deg);
  }
  @if $direction == "down" {
    $transform: rotate(-90deg);
  }
  @if $direction == "right" {
    $transform: scaleX(-1);
  }

  background: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none'%3E%3Cpath stroke='#{$icon-color}' stroke-linecap='#{$linecap}' stroke-linejoin='#{$linecap}' stroke-miterlimit='10' stroke-width='#{$icon-width}' d='m16.021 20.348-7.71-7.71 7.71-7.71'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: 20px auto;
  transform: $transform;
  // background-color:#b6a71c
}

// SVG 용 컬러 변수

$svg-pink-base: "%23F3F3E9";
$svg-pink-primary: "%23F4CED3";
$svg-pink-secondary: "%23F0B5BE";
$svg-pink-tertiary: "%23eee";
$svg-pink-point: "%23E33529";

$svg-brown-base: "%23F3F3F3";
$svg-brown-primary: "%23693413";
$svg-brown-secondary: "%23F7E7DA";
$svg-brown-tertiary: "%23eee";
$svg-brown-point: "%23693413";

$svg-blue-base: "%23F6F6ED";
$svg-blue-primary: "%23BDDEF8";
$svg-blue-secondary: "%23AFD8FB";
$svg-blue-tertiary: "%235B93B0";
$svg-blue-point: "%232B6786";

.ico-chevron {
  background: icon-img("chevron", $svg-pink-point) no-repeat center / auto 100%;
}

.themePink-theme {
  .header__logo {
    background: icon-img("dog", $svg-pink-point) no-repeat left center / auto
      70%;
  }

  .ico__arrow-down {
    background: icon-img("arrow", $svg-pink-point) no-repeat center / auto 100%;
    transform: scaleY(-1);
  }
  .ico__arrow-left {
    background: icon-img("chevron-left", $svg-pink-point) no-repeat center /
      auto 100%;
  }
  .ico__arrow-right {
    background: icon-img("chevron-left", $svg-pink-point) no-repeat center /
      auto 100%;
    transform: scaleX(-1);
  }
  .ico__bone {
    background: icon-img("bone", $svg-pink-base);
  }
}

.themeBlue-theme {
  .header__logo {
    background: icon-img("dog", $svg-blue-point) no-repeat left center / auto
      70%;
  }

  .ico__arrow-down {
    background: icon-img("arrow", $svg-blue-point) no-repeat center / auto 100%;
    transform: scaleY(-1);
  }

  .ico__arrow-left {
    background: icon-img("chevron-left", $svg-blue-point) no-repeat center /
      auto 100%;
  }
  .ico__arrow-right {
    background: icon-img("chevron-left", $svg-blue-point) no-repeat center /
      auto 100%;
    transform: scaleX(-1);
  }

  .ico__bone {
    background: icon-img("bone", $svg-blue-base) no-repeat center / auto 100%;
  }
}

.ico__arrow-right_b {
  background: icon-img("arrow", $svg-blue-base) no-repeat center / auto 100%;
  transform: rotate(90deg);
}
.ico__bone-default,
.ico__ball {
  display: block;
  width: 24px;
  height: 24px;
  z-index: 1;
}

.ico__ball {
  background: icon-img("ball_yellow", "%23fff") no-repeat center / auto 100%;
}
.ico__bone-default {
  background: icon-img("ball_yellow", $svg-brown-point) no-repeat center / auto
    100%;
}
