.next-leave-to {
  animation: leaveToLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}
.next-enter-to {
  animation: enterFromRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}
// .prev-leave-to {
//   animation: leaveToRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
//   z-index: 1;
// }
// .prev-enter-to {
//   animation: enterFromLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
//   z-index: 0;
// }
@keyframes leaveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
}
@keyframes enterFromLeft {
  from {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes leaveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes enterFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// text-animation

@keyframes text-in {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
}
.text-animation {
  display: inline-block;
  min-width: 0.3em;
}
.text-animation.on {
  animation: text-in 0.8s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s backwards;
}

// 버튼 hover - 공 애니메이션
.ani__ball {
  overflow: hidden;
  &-txt {
    position: relative;
  }

  &-l,
  &-r {
    @include position-centerY;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s linear;
  }

  &-l {
    right: calc(100% + 4px);
  }
  &-r {
    left: 500%;
  }
  &:hover {
    .ani__ball-l {
      right: 500%;
    }
    .ani__ball-r {
      left: calc(100% + 4px);
    }
  }
}
