.layout-enter-active,
.layout-leave-active {
  transition: all 0.3s;
}
.layout-enter-from,
.layout-enter {
  opacity: 0;
  transform: translate(50px, 0);
}
.layout-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s;
}
.slide-up-enter,
.slide-up-leave-active {
  transform: translateY(0);
}

// text-animation
@keyframes text-in {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
}
.text-animation {
  display: inline-block;
  min-width: 0.3em;
}
.text-animation.on {
  animation: text-in 0.8s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s backwards;
}

// 버튼 hover - 공 애니메이션
.ani__ball {
  overflow: hidden;
  &-txt {
    position: relative;
  }

  &-l,
  &-r {
    @include position-centerY;
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s linear;
  }

  &-l {
    right: calc(100% + 4px);
  }
  &-r {
    left: 300%;
  }
  &:hover {
    .ani__ball-l {
      right: 300%;
    }
    .ani__ball-r {
      left: calc(100% + 4px);
    }
  }
}

@keyframes rotateAlways {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.card {
  transition: all 0.5s;
}
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: scaleY(0);
}
.card-enter-to {
  opacity: 1;
  transform: scaleY(1);
}
.card-leave-active {
  /*position: absolute;*/
}
.card-move {
  opacity: 1;
  transition: all 0.5s;
}
.content-up-enter,
.content-up-leave-to {
  transition: all 0.5s;
}
.content-up-enter,
.content-up-leave-active {
  transform: translateY(-100%);
  opacity: 0;
}

