.page-enter-active, .page-leave-active {
  transition: all 0.5s; 
}

.page-enter, .page-leave-active {
  opacity: 0;
  transform: scale(0);
}

// .fade-enter-active,
// .fade-leave-active {
//   transition: opacity 0.8s;
// }
// .fade-enter,
// .fade-leave-to {
//   opacity: 0;
// }

// text-animation
@keyframes text-in {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
}
.text-animation {
  display: inline-block;
  min-width: 0.3em;
}
.text-animation.on {
  animation: text-in 0.8s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s backwards;
}

// 버튼 hover - 공 애니메이션
.ani__ball {
  overflow: hidden;
  &-txt {
    position: relative;
  }

  &-l,
  &-r {
    @include position-centerY;
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s linear;
  }

  &-l {
    right: calc(100% + 4px);
  }
  &-r {
    left: 500%;
  }
  &:hover {
    .ani__ball-l {
      right: 500%;
    }
    .ani__ball-r {
      left: calc(100% + 4px);
    }
  }
}
