:root {
}
$header-height: 70px;
$nav-width: 260px;

$pink-base: #F3F3E9;
$pink-primary: #F4CED3;
$pink-secondary: #F0B5BE;
$pink-tertiary: #eee;
$pink-point: #E33529;


$brown-base: #F3F3F3;
$brown-primary: #693413;
$brown-secondary: #F7E7DA;
$brown-tertiary: #eee;
$brown-point: #693413;

$blue-base: #F6F6ED;
$blue-primary: #BDDEF8;
$blue-secondary: #AFD8FB;
$blue-tertiary: #5B93B0;
$blue-point: #2B6786;

