@import "@/assets/scss/style.scss";

.main,
.pricing{
  &__ball_wrap {
    position: relative;
    width: 100%;
    height: 32vw;
    overflow: hidden;
  }
  
  &__ball {
    position: absolute;
    width: 36vw;
    border-radius: 50%;
    background:icon-img('ball_white', '%23fff') no-repeat center / auto 95%;
    z-index: 5;
    aspect-ratio: 1/1;

    &01 {
      width: 30vw;
      left: -4vw;
      top: -16vh;
      transform: rotate(80deg);
    }

    &02 {
      left: 16vw;
      top: -10vh;
    }
    &03 {
      width: 21vw;
      left: 44vw;
      top: -7vh;
    }
    &04 {
      width: 24vw;
      left: 60vw;
      top: -9vh;
    }
    &05 {
      width: 8vw;
      left: 78vw;
      top: -6vh;
    }
    &06 {
      width: 24vw;
      left: 80vw;
      top: -14vh;
    }
  }
}

