@import "@/assets/scss/style.scss";

.intro {
  @include flex-box(center, center);
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 0 20vw;
  background-color: $secondary;
  color: $point;
  box-sizing: border-box;
  z-index: 2000;

  &__btm {
    @include position-centerX;
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 10vw;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
  }
}