@import "@/assets/scss/style.scss";

.main {
  &__wrap {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $base;
    box-sizing: border-box;
  }
  &__top_box {
    position: relative;
    padding: 10vh 10vw;
    height: 100vh;
    box-sizing: border-box;
    z-index: 10;
  }
  &__title {
    position: absolute;
    span {
      display: block;
      color: $point;
    }
    &-lt {
      top: 10vh;
      left: 10vw;
      text-align: left;
    }
    &-rb {
      bottom: 10vh;
      right: 10vw;
      text-align: right;
    }
  }

  &__subtitle {
    position: absolute;
    width: 100%;
    text-align: center;
    color: $point;

    span {
      display: block;
    }
  }

  &__thumb {
    @include position-centerX;
    position: absolute;
    top: 0;
    width: 60vw;
    height: 120vh;
    margin: 0 auto;
    background-color: #fff;
  }

  &__ball07 {
    @include flex-box(center, center);
    width: 26vw;
    left: 40vw;
    top: 4vh;
    background-color: $secondary;
    z-index: 4;

    span {
      display: block;
      margin: 30vh 0 0 4vw;
      color: $point;
    }
  }

  &__txt_wrap {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
  }
  &__desc {
    width: 100%;
    color: $point;
    text-align: center;
  }
}
