@import "@/assets/scss/style.scss";

.main {
  background-color: $secondary;
  
  &__bg {
    position: absolute;

    width: 160%;
    height: 100vh;
    border-radius: 0 0 70% 70%;
    background-color: $primary;
    @include position-centerX;
    z-index: 1;
  }

  &__wrap {
    @include flex-column(center, center);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  h1,
  h4 {
    color: $point;
  }

  &__title {
    margin-top: 12px;
    text-align: center;
  }
}