@import "@/assets/scss/style.scss";

.main {
  width: 100%;

  &__title {
    width: 100%;
    padding-top: 2vh;
    color: $point;
    text-align: center;
  }

  &__list {
    position: relative;
    min-height: 100vh;
    padding: 10vh 10vw;
    box-sizing: border-box;
    z-index: 5;

    &-lb {
      position: absolute;
      bottom: 10vh;
      left: 8vw;
    }

    &_num {
      position: absolute;
      top: 5vh;
      left: 8vw;
      color: $point;
      overflow: hidden;
    }

    &_thumb {
      @include flex-box(center);
      @include position-centerX;
      top: 4.2vh;
      position: absolute;
      width: 45vw;
      border-radius: 50%;
      aspect-ratio: 1/1;
      overflow: hidden;

      &_box {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $primary;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
      button {
        position: absolute;
        bottom: 16px;
        left: 60%;
        transform: rotate(16deg);
      }
    }
    &_title {
      color: $point;
    }
  }

  &__icons {
    @include position-centerY;
    @include flex-column(center);
    position: absolute;
    right: 5vw;
  }
  &__ico {
    position: relative;
    width: 112px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 50%;
    background-color: $base;

    i {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &.on {
      border: 2px solid $point;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &-walk {
      background: $base icon-img("walk", $svg-pink-point) no-repeat center /
        auto 60%;
    }
    &-visit {
      background: $base icon-img("visit", $svg-pink-point) no-repeat center /
        auto 60%;
    }
    &-night {
      background: $base icon-img("night", $svg-pink-point) no-repeat center /
        auto 60%;
    }
  }
  &__circle {
    position: absolute;
    top: 22vh;
    width: 100vw;
    height: 170vh;
    border-radius: 50%;
    background-color: $secondary;
    z-index: 3;
  }
}
