@import "@/assets/scss/style.scss";

.blog {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  background-color: $primary;
  box-sizing: border-box;

  &__title {
    position: relative;
    width: 100%;
    color: $point;
    text-align: center;

    i {
      position: absolute;
      left: 50%;
      top: -10px;
    }
  }
  &__top {
  }
  &__filter {
    @include flex-box(flex-start);
    width: 100%;
    padding: 0 20px;
    margin: 40px 0 0;
    box-sizing: border-box;

    button {
      padding: 0 8px;
      margin-right: 4px;
      color: $point;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    width: 100%;
    margin-top: 40px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  &__lst {
    position: relative;
    padding: 16px 20px;
    box-sizing: border-box;

    i {
      position: absolute;

      &.ico__ball {
        position: absolute;
        top: 20%;
        left: 10px;
        &:nth-child(2),
        &:nth-of-type(2) {
          position: absolute;
          bottom: 20%;
          right: 10px;
        }
      }
      &.ico__bone-default {
        position: absolute;
        bottom: 20%;
        right: 10px;
      }
    }
  }

  &__box {
    display: block;
    position: relative;
    width: 100%;
    padding: 16px 20px;
    border-radius: 12px;
    background-color: $base;
    box-sizing: border-box;
    aspect-ratio: 1/1;

    :hover img {
      transform: scale(1.2);
    }
  }
  &__num {
    margin-bottom: 8px;
    color: $brown-primary;
  }
  &__thumb {
    position: absolute;
    width: 50%;
    right: 24px;
    top: 24px;
    margin-bottom: 16px;
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 1/1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      transition: transform 0.2s ease;
      will-change: transform;
      object-fit: cover;
    }
  }

  &__content_title {
    display: block;
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: $brown-primary;
    text-align: left;
  }
}
